---
layout: page
title: All Programs
---

<script src="assets/sorttable.js"></script>

<table class="sortable">
    <thead>
        <tr>
            <th>Program Name</th>
            <th>Publisher</th>
            <th class="sorttable_numeric">Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for program in site.programs %}
        <tr>
            <td><a href="{{program.url}}">{{program.name}}</a></td>
            <td>{{program.publisher}}</td>
            <td>{{program.timeRequired | duration: "%td %~d"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>