---
layout: page
title: All Workouts
---

<script src="assets/sorttable.js"></script>

<table class="sortable">
    <thead>
        <tr>
            <th>Workout Name</th>
            <th>Program</th>
            <th class="sorttable_numeric">Duration</th>
            <th>Type</th>
            <th>Equipment Needed</th>
        </tr>
    </thead>
    <tbody>
        {% for program in site.programs %}
        {% for episode in program.episodes%}
        <tr>
            <td>{{episode.name}}</td>
            <td><a href="{{program.url}}">{{program.name}}</a></td>
            <td>{{episode.duration | duration: "%tm:%S"}}</td>
            <td>{{episode.category}}</td>
            <td>
                <ul style="list-style: none;text-align: left;margin: 0;">
                    {% if episode.equipment %}
                        {% for item in episode.equipment %}
                            <li>{{ item | capitalize }}</li>
                        {% endfor %}
                    {% else %}
                    {% if program.equipment %}
                        {% for item in program.equipment %}
                            <li>{{ item | capitalize }}</li>
                        {% endfor %}
                    {% else %}
                        <li>?</li>
                    {% endif %}
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>