<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading"><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h2>

        <ul class="contact-list">
          <li>
            {{ site.description | escape }}
          </li>
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>

        <strong>Additions or Corrections?</strong>
        <a href="https://gitlab.com/{{ site.repository }}"><br>
        Let us know!</a>
        <br>
        <ul class="social-media-list">
          <li>
            <a href="https://gitlab.com/{{ site.repository }}"><small><span class="icon icon--github">{% include icon-gitlab.svg %}</span>Hosted on GitLab</small></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>
          <strong>Legal Info</strong><br>
          <p>
            All logos and trademarks are property of their respective owners.
          </p>
          <p>
            The individual datum on this site are <a href="https://www.copyright.gov/help/faq/faq-protect.html#what_protect">facts and understood to not be protected by copyright law</a>.
          </p>
          <p>
            To the extent applicable, this <a href="https://www.copyright.gov/circs/circ14.pdf">compilation</a> is licensed
            under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a>.
          </p>
        </p>
      </div>
    </div>

  </div>

</footer>