---
layout: default
---
<script src="/assets/sorttable.js"></script>
<article class="post" itemscope itemtype="http://schema.org/CreativeWorkSeries" itemid="#series">

  <header class="post-header">
    <h1 class="post-title" itemprop="name">{{ page.name | escape }}</h1>
    by <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">{{page.publisher}}</span>
    <a itemprop="url" href={{ page.product_url }}>Official program website</a>
    <meta itemprop="timeRequired" content="{{page.timeRequired}}"/>
  </header>

  <div class="post-content">

    <div itemscope itemtype="http://schema.org/Question">
      <link itemprop="about" href="#series">
      <h2 itemprop="name text">How long is the {{ page.name }} program?</h2>
      <div itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
        <p itemprop="text">{{ page.timeRequired | duration: "%td %~d"}}</p>
      </div>
    </div>

    <div itemscope itemtype="http://schema.org/Question">
      <link itemprop="about" href="#series">
      <h2 itemprop="name text">What equipment do I need for {{ page.name }}?</h2>
      <div itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
        {% assign my_array = "" | split: "!*_*!" %}
        {% for episode in page.episodes %}
        {% for item in episode.equipment %}
          {% assign itemArray = item | split: "!*_*!" %}
          {% assign my_array = my_array | concat: itemArray %}
        {% endfor %}
        {% endfor %}
        {% assign my_array = my_array | uniq %}

        {% for item in my_array %}
          {% assign found = true %}
        {% endfor %}

        {% if found %}
        <ul itemprop="text">
          {% for item in my_array %}
          <li>{{ item | capitalize }}</li>
          {% endfor %}
        </ul>
        {% else %}
        {% if page.equipment %}
        <ul itemprop="text">
          {% for item in page.equipment %}
          <li>{{ item | capitalize }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p itemprop="text">No information available. If you have this information, <a href="https://gitlab.com/WorkoutInfo/workoutinfo.gitlab.io">please share it with us</a>!</p>
        {% endif %}
        {% endif %}
        
        <p itemprop="text"></p>
      </div>
    </div>

    <div itemscope itemtype="http://schema.org/Question">
      <link itemprop="about" href="#series">
      <h2 itemprop="name text">How long are {{ page.name }} workouts?</h2>
      <div itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
        {% if page.episodes %}
          {% assign lengths = page.episodes | map: "duration" %}
          <p itemprop="text">Workouts range from {{ lengths | min | duration: "%tm:%S %~m" }} to {{ lengths | max | duration: "%tm:%S %~m" }}.<br/>
            The average length is {{ lengths | avg | duration: "%tm:%S %~m" }} and the median is {{ lengths | median | duration: "%tm:%S %~m" }}.
          </p>
        {% else %}
          <p itemprop="text">We do not have information about the individual workouts.  If you have this information, <a href="https://gitlab.com/WorkoutInfo/workoutinfo.gitlab.io">please share it with us</a>!</p>
        {% endif %}
      </div>
    </div>

    <div itemscope itemtype="http://schema.org/Question">
      <link itemprop="about" href="#series">
      <h2 itemprop="name text">What are the {{ page.name }} workouts?</h2>
      <div itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
        {% if page.episodes %}
          <p itemprop="text">
            <table class="sortable">
              <thead>
                <tr>
                    <th>Workout Name</th>
                    <th class="sorttable_numeric">Duration</th>
                    {% if found %}
                    <th>Equipment</th>
                    {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for episode in page.episodes %}
                <tr itemscope itemtype="http://schema.org/Episode">
                    {% assign minutes = episode.duration | duration: "%tm:%S" %}
                    <td itemprop="name">{{episode.name}}</td>
                    <td itemprop="timeRequired">{{minutes}}</td>
                    {% if found %}
                    <td>
                      <ul style="list-style: none;margin: 0;">
                        {% if episode.equipment %}
                        {% for item in episode.equipment %}
                        <li>{{ item | capitalize }}</li>
                        {% endfor %}
                        {% else %}
                        <li>-</li>
                        {% endif %}
                      </ul>
                    </td>
                    {% endif %}
                    <link itemprop="isPartOf" href="#series"/>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          <p>
        {% else %}
          <p itemprop="text">We do not have information about the individual workouts.  If you have this information, <a href="https://gitlab.com/WorkoutInfo/workoutinfo.gitlab.io">please share it with us</a>!</p>
        {% endif %}
      </div>
    </div>
  </div>

</article>
